<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
	<div class="container">
		<a class="navbar-brand" href="/">INVESTHUB</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link text-light" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-light" href="/about">About<a>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
				{{#if user }}
					<li class="nav-item">
						<a href="/cases/add" class="btn btn-warning text-light">Add coin</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="/cases">My case</a>
					</li>
					<li class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle text-light" data-toggle="dropdown" id="navbarDropdownMenuLink">Profile</a>
						<div class="dropdown-menu">
							<a href="/users" class="dropdown-item">My profile</a>
							<a href="/users/logout" class="dropdown-item">Logout</a>
						</div>
					</li>
				{{else}}
					<li class="nav-item">
						<a href="/users/login" class="nav-link">Login</a>
					</li>
					<li class="nav-item">
						<a href="/users/register" class="nav-link">Register</a>
					</li>
				{{/if}}
			</ul>
		</div>
	</div>
</nav>