</div>
<section class="intro-block">
	<div class="container">
		<div class="flexbox">
			<div class="info text-center">
				<h1>INVESTHUB</h1>
				<h3>Create your own cryptocurrency case</h3>
				{{#if user}}
					<a href="/cases/add" class="btn btn-warning text-light">Get started</a>
				{{else}}
					<a href="/users/login" class="btn btn-warning text-light">Get started</a>
				{{/if}}
			</div>
		</div>
	</div>
</section>
<div class="container">