<div class="card card-body">
	<h3>Add coin</h3>
	<form action="/cases" method="post">
		<div class="form-group">
			<label for="symbol">Symbol coin<i class="text-danger">*</i></label>
			<input type="text" class="form-control" name="symbol" placeholder="BTC" required>
		</div>
		<div class="form-group">
			<label for="date_buy">Date buy</label>
			<input type="date" class="form-control" name="date_buy" required>
		</div>
		<div class="form-group">
			<label for="buy_price">Buy price<i class="text-danger">*</i></label>
			<input type="text" class="form-control" name="buy_price" placeholder="17200.23" required>
		</div>
		<div class="form-group">
			<label for="coins_count">Coins count<i class="text-danger">*</i></label>
			<input type="text" class="form-control" name="coins_count" placeholder="0.02" required>
		</div>
		<div class="form-group">
			<label for="exchange">Exchange</label>
			<input type="text" class="form-control" name="exchange" placeholder="Binance">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>