<div class="card card-body">
	<h3>Add coin</h3>
	<form action="/cases" method="post">
		<div class="form-group">
			<label for="symbol">Symbol coin</label>
			<input type="text" class="form-control" name="symbol" required>
		</div>
		<div class="form-group">
			<label for="buy_price">Buy price</label>
			<input type="text" class="form-control" name="buy_price" required>
		</div>
		<div class="form-group">
			<label for="coins_count">Coins count</label>
			<input type="text" class="form-control" name="coins_count" required>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>